{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computer 2nd 1st sem</title>
    <link rel="stylesheet" href="{% static 'sem21.css'%}">
    <style>
   a:link {
    color: black;
  }

a:visited {
    color: rgb(4, 15, 4);
}

  a:hover {
    color: rgb(209, 204, 219);
  }

  a:active {
    color: rgb(42, 42, 186);
     }
        </style>
</head>
<body>

    <nav class="id" >
        <img src="{%static 'pagelogo.jpg'%}" style="float:left" width="30px" heigth="10px">
        <a class="font" href="/" >Home</a>
        <div class="dropdown">
            <a class="font1" href="#">Courses</a>
            <div class="dropdown-content">
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">Computer</a>
                    <div class="dropdown2-content">
                        <a href="./sem21.htm" style="text-decoration: solid;">2nd Year(sem1)</a>
                        <a href="./sem22.htm" style="text-decoration: solid;">2nd Year(sem2)</a>
                        <a href="./sem31.htm" style="text-decoration: solid;">3rd Year(sem1)</a>
                        <a href="./sem32.htm" style="text-decoration: solid;">3rd Year(sem2)</a>
                        <a href="./sem41.htm" style="text-decoration: solid;">4th Year(sem1)</a>
                        <a href="./sem42.htm" style="text-decoration: solid;">4th Year(sem2)</a>
                    </div>
                </div>
                <hr>
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">IT</a>
                    <div class="dropdown2-content">
                        <a href="./semi21.htm" style="text-decoration: solid;">2nd Year(sem1)</a>
                        <a href="./semi22.htm" style="text-decoration: solid;">2nd Year(sem2)</a>
                        <a href="./semi31.htm" style="text-decoration: solid;">3rd Year(sem1)</a>
                        <a href="./semi32.htm" style="text-decoration: solid;">3rd Year(sem2)</a>
                        <a href="./semi41.htm" style="text-decoration: solid;">4th Year(sem1)</a>
                        <a href="./semi42.htm" style="text-decoration: solid;">4th Year(sem2)</a>
                    </div>
                </div>
                <hr>
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">E&TC</a>
                    <div class="dropdown2-content">
                        <a href="seme21.htm" style="text-decoration: solid;">2nd Year(sem1)</a>
                        <a href="seme22.htm" style="text-decoration: solid;">2nd Year(sem2)</a>
                        <a href="seme31.htm" style="text-decoration: solid;">3rd Year(sem1)</a>
                        <a href="seme32.htm" style="text-decoration: solid;">3rd Year(sem2)</a>
                        <a href="seme41.htm" style="text-decoration: solid;">4th Year(sem1)</a>
                        <a href="seme42.htm" style="text-decoration: solid;">4th Year(sem2)</a>
                    </div>
                </div>
                <hr>
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">First Year</a>
                    <div class="dropdown2-content">
                        <a href="./first.htm" style="text-decoration: solid;">First Year</a>
                    </div>
                </div>
            </div>
        </div>

        <a  class ="font1" href="about.htm" >About us</a>
        <a   style=" text-align: center;text-decoration: solid; margin-left:500px;" href="login.htm" >Login</a>
    </nav>
<div>
    <h3>Sem-1</h3>
    <table>
    <tr>
     <th>Sr No</th>
     <th>Course Name</th>
     <th>Downloads</th>
     <tr>

    <tr>
    <th>1</th>
    <th>Engineering Mathematics-I</th>
    <td></td>
    </tr>

    <tr>
        <td></td>
        <td>Technical Publication</td>

        <td>
            <a href="{% static 'DM - Technical.pdf'%}">
            <img src="{% static 'downbutton.jpg'%}" width="110px" height="40px">
        </a>
        </td>
            
    </tr>

    <tr>
        <td></td>
        <td>TechKnowledge Publication</td>
        <td>
            
            <img src="{%static 'downbutton.jpg'%}" width="110px" height="40px" >
            
        </td>
    </tr>

    <tr>
        <td></td>
        <td>Tech-Neo Publication</td>
        <td>
          <a href="unit1TOC.pdf">  
            <img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
          </a>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>Decode</td>
        <td>
            <img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
        </td>
    </tr>
    <tr>
        <th>2</th>
        <th>Engineering Physics</th>
        <td></td>
        </tr>

        <tr>
            <td></td>
            <td>Technical Publication</td>
            <a href="">
            <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
        </a>
        </tr>
    
        <tr>
            <td></td>
            <td>TechKnowledge Publication</td>
            <td>
            <a href="{% static 'FDS TechKnowledge.pdf'%}">
             <img src="{% static 'downbutton.jpg'%}" width="110px" height="40px">
            </a>
            </td>
        </tr>
    
        <tr>
            <td></td>
            <td>Tech-Neo Publication</td>
            <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
        </tr>
    
        <tr>
            <td></td>
            <td>Decode</td>
            <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
        </tr>

        <tr>
            <th>3</th>
            <th>Engineering Chemistry</th>
            <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td>Technical Publication</td>
                <td>
                    <a href="{% static 'FDS TechKnowledge.pdf'%}">
                    <img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                </a>
                </td>
            </tr>
        
            <tr>
                <td></td>
                <td>TechKnowledge Publication</td>

                <td>
                    <a href="{% static 'FDS TechKnowledge.pdf'%}">
                    <img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                </a>
                </td>
            </tr>
        
            <tr>
                <td></td>
                <td>Tech-Neo Publication</td>
                <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
            </tr>
        
            <tr>
                <td></td>
                <td>Decode</td>
                <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
            </tr>

            <tr>
                <th>4</th>
                <th>Mechanics</th>
                <td></td>
                </tr>
            
                <tr>
                    <td></td>
                    <td>Technical Publication</td>
                    <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                </tr>
            
                <tr>
                    <td></td>
                    <td>TechKnowledge Publication</td>
                    <td>
                        <a href="{% static 'OOP TechKnowledge (1).pdf'%}">
                        <img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                        </a>
                    </td>
                </tr>
            
                <tr>
                    <td></td>
                    <td>Tech-Neo Publication</td>
                    <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                </tr>
            
                <tr>
                    <td></td>
                    <td>Decode</td>
                    <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                </tr>
                <tr>
                    <th>5</th>
                    <th>BXE</th>
                    <td></td>
                    </tr>
                   
                    <tr>
                        <td></td>
                        <td>Technical Publication</td>
                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                    </tr>
                
                    <tr>
                        <td></td>
                        <td>TechKnowledge Publication</td>
                        <a href="{% static 'DELD TechKnowledge (1).pdf'%}">
                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                        </a>
                        </td>
                    </tr>
                
                    <tr>
                        <td></td>
                        <td>Tech-Neo Publication</td>
                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                    </tr>
                
                    <tr>
                        <td></td>
                        <td>Decode</td>
                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                    </tr>

                    <tr>
                        <th>6</th>
                        <th>BEE</th>
                        <td></td>
                        </tr>
                       
                        <tr>
                            <td></td>
                            <td>Technical Publication</td>
                            <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                        </tr>
                    
                        <tr>
                            <td></td>
                            <td>TechKnowledge Publication</td>
                            <a href="{% static 'DELD TechKnowledge (1).pdf'%}">
                            <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                            </a>
                            </td>
                        </tr>
                    
                        <tr>
                            <td></td>
                            <td>Tech-Neo Publication</td>
                            <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                        </tr>
                    
                        <tr>
                            <td></td>
                            <td>Decode</td>
                            <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                        </tr>

                        <tr>
                            <th>7</th>
                            <th>Engineering Mathematics-II</th>
                            <td></td>
                            </tr>
                           
                            <tr>
                                <td></td>
                                <td>Technical Publication</td>
                                <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                            </tr>
                        
                            <tr>
                                <td></td>
                                <td>TechKnowledge Publication</td>
                                <a href="{% static 'DELD TechKnowledge (1).pdf'%}">
                                <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                                </a>
                                </td>
                            </tr>
                        
                            <tr>
                                <td></td>
                                <td>Tech-Neo Publication</td>
                                <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                            </tr>
                        
                            <tr>
                                <td></td>
                                <td>Decode</td>
                                <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                            </tr><tr>
                                <th>8</th>
                                <th>PPL</th>
                                <td></td>
                                </tr>
                               
                                <tr>
                                    <td></td>
                                    <td>Technical Publication</td>
                                    <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                                </tr>
                            
                                <tr>
                                    <td></td>
                                    <td>TechKnowledge Publication</td>
                                    <a href="{% static 'DELD TechKnowledge (1).pdf'%}">
                                    <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                                    </a>
                                    </td>
                                </tr>
                            
                                <tr>
                                    <td></td>
                                    <td>Tech-Neo Publication</td>
                                    <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                                </tr>
                            
                                <tr>
                                    <td></td>
                                    <td>Decode</td>
                                    <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                                </tr>

                                <tr>
                                    <th>9</th>
                                    <th>SME</th>
                                    <td></td>
                                    </tr>
                                   
                                    <tr>
                                        <td></td>
                                        <td>Technical Publication</td>
                                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                                    </tr>
                                
                                    <tr>
                                        <td></td>
                                        <td>TechKnowledge Publication</td>
                                        <a href="{% static 'DELD TechKnowledge (1).pdf'%}">
                                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px">
                                        </a>
                                        </td>
                                    </tr>
                                
                                    <tr>
                                        <td></td>
                                        <td>Tech-Neo Publication</td>
                                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                                    </tr>
                                
                                    <tr>
                                        <td></td>
                                        <td>Decode</td>
                                        <td><img src="{%static 'downbutton.jpg'%}" width="110px" height="40px"></td>
                                    </tr>


    </table>
</div>
</body>
</html>