
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Here</title>
    <link rel="stylesheet" href="{% static 'login.css'%}">

    <style>
        a:link {
    color: black;
  }

a:visited {
    color: rgb(4, 15, 4);
}

  a:hover {
    color: rgb(209, 204, 219);
  }

  a:active {
    color: rgb(42, 42, 186);
     }
   </style>
</head>
<body >
    <nav class="id" >
        <img src="{%static 'pagelogo.jpg'%}" style="float:left" width="30px" heigth="10px">
        <a class="font" href="/" >Home</a>
        <div class="dropdown">
            <a class="font1" href="#">Courses</a>
            <div class="dropdown-content">
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">Computer</a>
                    <div class="dropdown2-content">
                        <a href="./sem21.htm" style="text-decoration: solid;">2nd Year(sem1)</a>
                        <a href="./sem22.htm" style="text-decoration: solid;">2nd Year(sem2)</a>
                        <a href="./sem31.htm" style="text-decoration: solid;">3rd Year(sem1)</a>
                        <a href="./sem32.htm" style="text-decoration: solid;">3rd Year(sem2)</a>
                        <a href="./sem41.htm" style="text-decoration: solid;">4th Year(sem1)</a>
                        <a href="./sem42.htm" style="text-decoration: solid;">4th Year(sem2)</a>
                    </div>
                </div>
                <hr>
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">IT</a>
                    <div class="dropdown2-content">
                        <a href="./semi21.htm" style="text-decoration: solid;">2nd Year(sem1)</a>
                        <a href="./semi22.htm" style="text-decoration: solid;">2nd Year(sem2)</a>
                        <a href="./semi31.htm" style="text-decoration: solid;">3rd Year(sem1)</a>
                        <a href="./semi32.htm" style="text-decoration: solid;">3rd Year(sem2)</a>
                        <a href="./semi41.htm" style="text-decoration: solid;">4th Year(sem1)</a>
                        <a href="./semi42.htm" style="text-decoration: solid;">4th Year(sem2)</a>
                    </div>
                </div>
                <hr>
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">E&TC</a>
                    <div class="dropdown2-content">
                        <a href="./seme21.htm" style="text-decoration: solid;">2nd Year(sem1)</a>
                        <a href="./seme22.htm" style="text-decoration: solid;">2nd Year(sem2)</a>
                        <a href="./seme31.htm" style="text-decoration: solid;">3rd Year(sem1)</a>
                        <a href="./seme32.htm" style="text-decoration: solid;">3rd Year(sem2)</a>
                        <a href="./seme41.htm" style="text-decoration: solid;">4th Year(sem1)</a>
                        <a href="./seme42.htm" style="text-decoration: solid;">4th Year(sem2)</a>
                    </div>
                </div>
                <hr>
                <div class="dropdown2">
                    <a href="#" style="text-decoration: solid;">First Year</a>
                    <div class="dropdown2-content">
                        <a href="./first.htm" style="text-decoration: solid;">First Year</a>
                    </div>
                </div>
            </div>
        </div>

        
        <a  class ="font1" href="about.htm" >About us</a>
        <a   style=" text-align: center;text-decoration: solid; margin-left:500px;" href="login.htm" >Login</a>
        

    </nav>

    <div>
        {% for message in messages%}
        <h3>{{message}}</h3>
        {% endfor%}
    </div>
    <div class="login">
    <h2>Login Here</h2>
    <form method="POST" action="login.htm">
        {% csrf_token%}
    <label for="Username" class="font" >Username:</label><br>
    <input class="infont" type="text" name="username" placeholder="Username" ><br>
    <label for="email" class="font">Email:</label><br>
    <input class="infont" type="email" name="email" placeholder="Email"><br>
    <label for="Password"  class="font">Password:</label><br>
    <input class="infont" type="password" name="password" placeholder="password.."><br>
    <hr>
    <input type="submit" class="submit" ><br>
    </form>

    
    </div>
</body>
</html>